<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${content}"></p>
<h2>This is Spring page</h2>

<tr th:each="city:${citys}">
    <p th:text="${city}">
    </p><br>
</tr>
<p th:text="${users}"></p>
<input type="button" class="button" value="jsonp回调" onclick="callback()">
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    function callback() {
        $.ajax({
            url: '/call',
            type: 'POST',
            data: {
                jsonpCallback: 'callBack'
            },
            dataType: 'jsonp',
            jsonpCallback: 'callBack',
            success: function (data) {
                console.log("jsonp回调成功...");
                console.log(data);
            }
        });
    }

    function callBack(resp) {
        var info = eval("(" + resp + ")");
        console.log(info);
        alert(info.name + "\n" + info.age + "\n" + info.gender);
    }

</script>